EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
mu= 13.20
sigma = 2.50
n=40
xbar = 12.20

## Hnull: mu = 13.30
## Ha: mu< 13.30

In [15]:
z_test =( xbar-mu)/( sigma/np.sqrt(n))
z_test

-2.5298221281347035

In [16]:
stats.norm.cdf(z_test)

0.005706018193000826

In [ ]:
#p-value less than alpha reject the null hypothesis, there is significant support for Ha.
#there is support to shows that the company is paying substandard wages

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [31]:
df = pd.read_csv('soil.csv')
df.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [23]:
s1_mean = df.mean()[0]
s2_mean = df.mean()[1]

In [22]:
s1_std = df.std()[0]
s2_std = df.std()[1]

In [ ]:
s1_size=

In [44]:
rvs1 = stats.norm.rvs(loc=s1_mean, scale=s1_std, size=df.shape[0])
rvs2 = stats.norm.rvs(loc=s2_mean, scale=s2_std, size=df.shape[0])

In [45]:
stats.ttest_ind(rvs1, rvs2, equal_var=False)

Ttest_indResult(statistic=5.9568543068586415, pvalue=1.0265600638813667e-07)

In [50]:
stats.ttest_rel(rvs1, rvs2, alternative='greater')

Ttest_relResult(statistic=5.825973684440463, pvalue=7.245896682657572e-07)

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [52]:
df1 = pd.read_csv('2015_pisa_test.csv')
df1

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NaN,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [107]:
df2 = df1.groupby('Continent_Code').agg({'std', 'mean', 'min', 'max'})['Math']
df2

                     max       min        mean        std
Continent_Code
AF              366.8180  359.6062  363.212100   5.099513
AS              564.1897  380.2590  466.216647  64.356490
EU              521.2506  371.3114  477.981449  35.150403
OC              495.2233  493.8962  494.559750   0.938401
SA              422.6714  377.0695  402.887700  18.128894

In [116]:
as_mean = df2.iloc[1, :]

In [117]:
eu_mean = df2.iloc[2, :]
eu_mean

max     521.250600
min     371.311400
mean    477.981449
std      35.150403
Name: EU, dtype: float64

In [118]:
plt.boxplot(as_mean)

{'whiskers': [<matplotlib.lines.Line2D at 0x7fb4f0709f70>,
  <matplotlib.lines.Line2D at 0x7fb4f070b550>],
 'caps': [<matplotlib.lines.Line2D at 0x7fb5135b4e50>,
  <matplotlib.lines.Line2D at 0x7fb4e0ab16d0>],
 'boxes': [<matplotlib.lines.Line2D at 0x7fb4f0920a60>],
 'medians': [<matplotlib.lines.Line2D at 0x7fb4e0ab13a0>],
 'fliers': [<matplotlib.lines.Line2D at 0x7fb4f06c43d0>],
 'means': []}

In [78]:
df1.shape

(70, 6)

In [79]:
df2 = df1.groupby('Continent_Code').agg({'std', 'mean', 'min', 'max'}).T
df2

Continent_Code                       AF          AS          EU          OC  \
internet_users_per_100 max    48.519836   92.884826   98.200000   88.222889
                       min    38.200000   21.976068   53.744979   84.560519
                       mean   43.359918   68.455613   77.274888   86.391704
                       std     7.297226   21.086060   12.425773    2.589686
Math                   max   366.818000  564.189700  521.250600  495.223300
                       min   359.606200  380.259000  371.311400  493.896200
                       mean  363.212100  466.216647  477.981449  494.559750
                       std     5.099513   64.356490   35.150403    0.938401
Reading                max   361.055500  535.100200  526.424700  509.270700
                       min   349.859300  346.549000  351.741500  502.900600
                       mean  355.457400  454.059682  476.164608  506.085650
                       std     7.916909   57.048962   37.720545    4.504341
Science                max   386.403400  555.574700  534.193700  513.303500
                       min   375.745100  386.485400  383.682400  509.993900
                       mean  381.074250  467.945847  478.299381  511.648700
                       std     7.536556   56.671371   34.450616    2.340241

Continent_Code                       SA
internet_users_per_100 max    69.198471
                       min    40.900000
                       mean   60.180494
                       std     9.772455
Math                   max   422.671400
                       min   377.069500
                       mean  402.887700
                       std    18.128894
Reading                max   458.570900
                       min   397.541400
                       mean  425.359229
                       std    19.709688
Science                max   446.956100
                       min   396.683600
                       mean  421.747186
                       std    18.470319

In [ ]:
eu_math_mean = 477.981449
as_math_mean = 466.216647

EXERCISE 4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

Sample Dataset 2014

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128